<mat-card>
  <mat-card-content>
    <div class="container">
      <table class="table">
        <tr>
          <td>Nic:</td>
          <td>:{{ patients_for_dialog.nic }}</td>
        </tr>
        <tr>
          <td>Name:</td>
          <td>:{{ patients_for_dialog.name }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>:{{ patients_for_dialog.address }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>:{{ patients_for_dialog.email }}</td>
        </tr>
        <tr>
          <td>Hair Color:</td>
          <td>:{{ patients_for_dialog.haircolor }}</td>
        </tr>
        <tr>
          <td>Measurement:</td>
          <td>:{{ patients_for_dialog.measurements }}</td>
        </tr>
        <tr>
          <td>Hair Style:</td>
          <td>:{{ patients_for_dialog.hairstyle }}</td>
        </tr>
        <tr>
          <td>Dob:</td>
          <td>:{{ patients_for_dialog.deb }}</td>
        </tr>
        <tr>
          <td>gender:</td>
          <td>:{{ patients_for_dialog.gender }}</td>
        </tr>
        <tr>
          <td>Level:</td>
          <td>{{ patients_for_dialog.level }}</td>
        </tr>
      </table>

      <button
        *ngIf="patients_for_dialog.level == 'not-selected'"
        type="button"
        class="btn btn-success btn-rounded"
        (click)="addSelectLabel()"
      >
        Select
      </button>

      <button
        *ngIf="patients_for_dialog.level == 'selected'"
        type="button"
        class="btn btn-danger btn-rounded"
        (click)="addRrejectLabel()"
      >
        Reject
      </button>

      <button
        *ngIf="patients_for_dialog.level == 'ready'"
        type="button"
        class="btn btn-primary btn-rounded"
        (click)="addDeleveredLabel()"
      >
        Delevered
      </button>
    </div>
  </mat-card-content>
</mat-card>
